<div class="w3-display-middle">
<div style="height: 10%;" name="header" class="w3-margin-left w3-center w3-container w3-round-xlarge">
    <h1><strong>Ch@Me</strong></h1>
</div>
<div style="width: 100%;" class="w3-center w3-margin w3-padding-16 w3-container">
<form method="POST" name="loginForm" onsubmit="return validateForm()">
    <input id="usernameInput" name="username" placeholder="Kullan覺c覺 ad覺 giriniz" class="w3-input w3-dark-grey w3-border-0" type="text"><br>
    <input id="roomCodeInput" name="roomcode" placeholder="Oda kodunu giriniz" class="w3-input w3-border-0" value="beta" disabled type="text"><br>
    <button id="loginButton" class="w3-button w3-green" type="submit">Sohbete kat覺l</button>
</form>
</div>
<footer class="w3-margin-left w3-container">
    <div class="w3-center">
        <h4>Melih Sivri / @msrexe</h4>
        <a href="https://www.twitter.com/msrexe" class="w3-xlarge fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/msrexe" class="w3-xlarge fa fa-linkedin"></a>
        <a href="https://www.github.com/msrexe" class="w3-xlarge fa fa-github"></a>
    </div>
</footer>
</div>